@model IEnumerable<final_asp_project.Models.Claim>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Vehicle)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Vehicle.VehicleId)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ClaimId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ClaimId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ClaimId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
